# Virtual env
venv/
__pycache__/

# Logs & data
*.log
sentiment_output.csv
sentiment_history.csv
prediction_log.json
alert_log.json

# Credentials
.env
creds.json

# Backups
*BACKUP*.py

# IDEs
.vscode/
